<section id="main-slider" class="no-margin">
    <div class="carousel slide">
        <ol class="carousel-indicators">
            <li data-target="#main-slider" data-slide-to="0" class="active"></li>
            <li data-target="#main-slider" data-slide-to="1"></li>
            <li data-target="#main-slider" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">

            <div class="item active" style="background-image: url(/content/images/slider/bg1.jpg)">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="carousel-content">
                                <h1 class="animation animated-item-1">Help Finding Information Online</h1>
                                <div class="animation animated-item-2">
                                    Every new computer that’s brought home from the store has an operating system installed onto it.
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!--/.item-->

            <div class="item" style="background-image: url(/content/images/slider/bg2.jpg)">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="carousel-content">
                                <h1 class="animation animated-item-1">Help Finding Information Online</h1>
                                <div class="animation animated-item-2">
                                    Every new computer that’s brought home from the store has an operating system installed onto it.
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <!--/.item-->

        </div>
        <!--/.carousel-inner-->
    </div>
    <!--/.carousel-->
    <a class="prev hidden-xs hidden-sm" href="#main-slider" data-slide="prev">
        <i class="fa fa-chevron-left"></i>
    </a>
    <a class="next hidden-xs hidden-sm" href="#main-slider" data-slide="next">
        <i class="fa fa-chevron-right"></i>
    </a>
</section>
<section id="recent-works">
    <div class="container">
        <div class="center fadeInDown">
            <h2>Promotions</h2>
            <p class="lead">
                All in store events and promotions are listed in the calendar below. Click on an event for details and to confirm attendance.
            </p>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="cal1"></div>
            </div>
        </div>
        <!--/.row-->
        <div class="clearfix text-center">
        </div>
    </div>
    <!--/.container-->
</section>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <script src="~/Scripts/clndr.js"></script>

    <script src="~/scripts/jquery.prettyPhoto.js"></script>
    <script src="~/scripts/owl.carousel.min.js"></script>
    <script src="~/scripts/jquery.isotope.min.js"></script>
    <script src="~/scripts/main.js"></script>
    <script src="~/scripts/demo.js"></script>
}